@model ShowCourseListItemDTO
<!-- col -->

    <div class="box-shadow">
        <div class="img-layer">
            <a  asp-controller="Course"
            asp-action="ShowCourse" 
            asp-route-id="@Model.CourseId"
            asp-route-name="@Model.Title.FixedNameCourse()">
                <i class="zmdi zmdi-more-vert"></i>
            </a>
            <img class="lazy "  src="/images/LazyLoad.png" data-src="@Model.GetCourseImageThumbAddress()" alt="@Model.Title">

        </div>
        <h2><a
            asp-controller="Course"
            asp-action="ShowCourse" 
            asp-route-id="@Model.CourseId"
            asp-route-name="@Model.Title.FixedNameCourse()"> @Model.Title</a></h2>
        <div class="detail">
            <div class="top">
                <span><i class="zmdi zmdi-account"></i> @Model.TeacherName </span>
            </div>
            <div class="bottom">
                <span class="time"><i class="zmdi zmdi-time"></i>@Model.TotalTime </span>
                <span class="price">
                    <i>  @((Model.Price==0)?"رایگان":Model.Price.ToString("#,0  تومان")) </i>
                </span>
            </div>
        </div>
    </div>


<!-- /col -->
