@page
@model Learning.Mvc.Pages.Admin.Contact.IndexModel
@{
    ViewData["Title"] = " لیست تماس با ما ";
}
<div class="row flex-div">
    <div class="col-md-12 flex-div pb-3 pt-3">
        <div class="card flex-div border-0 main-shadow">
            <div class="card-header bg-white">
                <div class="pr-1 pt-2">
                    <form class="card-form  filter-form">
                        <input type="hidden" class="pageId" name="PageId" value="@Model.FilterContactDTO.PageId" />
                        <div class="row form-row">
                            <div class="col-md-4">
                                <input type="text" name="Search" value="@Model.FilterContactDTO.Search" class="form-control" placeholder="متن جستوجو" />
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-primary btn-sm LoadingDiv">جستجو<span class="icon-holder uk-margin-small-right" uk-icon="search-outline"></span></button>
                                <a href="/Admin/Contact" class="btn btn-info btn-sm LoadingDiv">خالی<span class="icon-holder uk-margin-small-right" uk-icon="reload-outline"></span></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="card-table" class="card-body flex-div">
                <div class="table-responsive flex">
                    <table class="table fixed">
                        <thead class="thead-light">
                            <tr>
                                <th> نام</th>
                                <th>شماره تلفن</th>
                                <th>ایمیل </th>
                                <th>تاریخ ارسال </th>
                                <th>دستورات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var contact in Model.FilterContactDTO.Contacts)
                            {
                                <tr class="item_@contact.ContactId">
                                    <td>@contact.Name</td>
                                    <td>
                                        @contact.TellNo
                                    </td>
                                    <td>
                                        @contact.Email
                                    </td>
                                    <td>
                                        @contact.CreateDate.ToShamsi()
                                    </td>
                                    <td>

                                        <span data-placement="top" data-toggle="tooltip" title="" data-original-title="مشاهده">
                                            <a href="/Admin/Contact/ShowMessage/@contact.ContactId" class="text-primary LoadingDiv" uk-icon="@((contact.IsSee?"eye":"eye-off-outline"))"></a>
                                        </span>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <partial name="_PagingAdminPartial" model="@Model.FilterContactDTO.GetCurrentPaging()" />

        </div>
    </div>
</div>


