@page "{handler?}"
@model Learning.Mvc.Pages.Admin.Sliders.IndexModel
@{
    ViewData["Title"] = "اسلایدرها";

}

<div class="row flex-div">
    <div class="col-md-12 flex-div pb-3 pt-3">
        <div class="card flex-div border-0 main-shadow">
            <div class="card-header bg-white">
                <div class="pr-1 pt-2">

                    <form class="card-form filter-form">
                        <input type="hidden" class="pageId" name="PageId" value="@Model.FilterSliderDTO.PageId" />
                        <div class="row form-row">
                            <div class="col-md-4">
                                <input class="form-control uk-text-small" type="text" placeholder="متن جستجو" name="Search" value="@Model.FilterSliderDTO.Search" >
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-primary btn-sm LoadingDiv">جستجو<span class="icon-holder uk-margin-small-right" uk-icon="search-outline"></span></button>
                                <a href="/Admin/Sliders" class="btn btn-info btn-sm LoadingDiv">خالی<span class="icon-holder uk-margin-small-right" uk-icon="reload-outline"></span></a>
                                <a asp-page="CreateSlider" class="btn btn-success btn-sm LoadingDiv"> افزودن<span class="icon-holder uk-margin-small-right" uk-icon="add-circle-outline"></span></a>

                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div id="card-table" class="card-body flex-div">
                <div class="table-responsive flex">
                    <table class="table fixed">
                        <thead class="thead-light">
                            <tr>
                                <th>نام </th>
                                <th>عکس</th>
                                <th>گروه</th>
                                <th>دسته</th>
                                <th>تاریخ ثبت گروه</th>
                                <th>تاریخ آخرین ویرایش</th>
                                <th>دستورات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var slider in Model.FilterSliderDTO.Sliders)
                            {
                                <tr class="item_@slider.SliderId">
                                    <td>@slider.Name</td>
                                    <td>
                                        <img src="@slider.GetSliderImageThumbAddress()" class="thumbnail" style="max-width: 120px" />

                                    </td>
                                    <td>
                                        @slider.SliderGroup.GroupTitle
                                    </td>
                                    <td>
                                        @((slider.SubGroup == null) ? "انتخاب نشده" : slider.SliderSubGroup.GroupTitle)
                                    </td>
                                    <td>@slider.CreateDate.ToShamsi()</td>
                                    <td>@slider.UpdateDate.ToShamsi()</td>
                                    <td>

                                        <span data-placement="top" data-toggle="tooltip" title="" data-original-title="ویرایش">
                                            <a href="/Admin/Sliders/EditSlider/@slider.SliderId" class="text-primary LoadingDiv" uk-icon="create-outline"></a>
                                        </span>
                                        <span data-placement="top" data-toggle="tooltip" title="" data-original-title="حذف">
                                            <a ajax-url-button="@slider.SliderId"
                                           href="/Admin/Sliders/Index/DeleteSlider?code=@slider.SliderId"
                                           class="text-danger" uk-icon="trash"></a>
                                        </span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <partial name="_PagingAdminPartial" model="@Model.FilterSliderDTO.GetCurrentPaging()" />
        </div>
    </div>
</div>
